// Place all the styles related to the checkins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.checkin {
	border-bottom:solid 1px #ccc;
	padding: 5px 0;
}

.checkin p {
	margin: 8px 0;

}

.checkin.hover{
	background: #FAFAFA;
}
.checkin .admin{
	display: none;
}

.checkin.hover .admin{
	display: inline;
}