<div class="row>">
<div class="col-md-4"></div>
  <div class="col-md-4">
<legend>New checkin</legend>

<%= render 'form' %>
</br>
<%= link_to 'Back', checkins_path %>
</div>
<div class="col-md-4"></div>
</div>